.row, .stack-row {
	margin-bottom: 24px;
	width: 100%
}

.row>.col>.row:last-child, .stack-row>.col>.row:last-child, .row>.col>.stack-row:last-child,
	.stack-row>.col>.stack-row:last-child {
	margin-bottom: 0
}

@media only screen and (max-width:739px) {
	.stack-row, .row {
		margin-left: 0
	}
	.stack-row .span-1, .row .span-1, .stack-row .span-2, .row .span-2,
		.stack-row .span-3, .row .span-3, .stack-row .span-4, .row .span-4,
		.stack-row .span-5, .row .span-5, .stack-row .span-6, .row .span-6,
		.stack-row .span-7, .row .span-7, .stack-row .span-8, .row .span-8,
		.stack-row .span-9, .row .span-9, .stack-row .span-10, .row .span-10,
		.stack-row .span-11, .row .span-11, .stack-row .span-12, .row .span-12
		{
		width: 100%;
		margin-right: 0;
		float: none;
		margin: 0 0 24px 0
	}
	.stack-row .col:last-child, .row .col:last-child {
		margin-bottom: 0
	}
}

@media only screen and (min-width:740px)and (max-width:959px) {
	.stack-row {
		margin-left: 0
	}
	.stack-row .span-1, .stack-row .span-2, .stack-row .span-3, .stack-row .span-4,
		.stack-row .span-5, .stack-row .span-6, .stack-row .span-7, .stack-row .span-8,
		.stack-row .span-9, .stack-row .span-10, .stack-row .span-11,
		.stack-row .span-12 {
		width: 100%;
		margin-right: 0;
		float: none;
		margin: 0 0 24px 0
	}
	.stack-row .col:last-child {
		margin-bottom: 0
	}
}

@media only screen and (min-width:960px) {
	.row>.span-12.indent-content p, .stack-row>.span-12.indent-content p,
		.row>.span-12.indent-content ul, .stack-row>.span-12.indent-content ul,
		.row>.span-12.indent-content ol, .stack-row>.span-12.indent-content ol
		{
		padding-right: 31.66%
	}
	.row>.span-9.indent-content p, .stack-row>.span-9.indent-content p, .row>.span-9.indent-content ul,
		.stack-row>.span-9.indent-content ul, .row>.span-9.indent-content ol,
		.stack-row>.span-9.indent-content ol {
		padding-right: 14.58%
	}
}

header {
	margin: 0 auto 24px auto;
	padding: 24px 8.54%;
	position: relative;
	z-index: 1000;
	max-width: 932px
}

header div:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both
}

header img {
	float: left
}

header .co-branding {
	float: right
}

header .co-branding p {
	font-size: 12px;
	line-height: 18px;
	color: #bebebe;
	margin-bottom: 6px
}

header .co-branding img {
	max-height: 60px;
	max-width: 200px
}

header:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both
}

footer {
	margin: 0 auto 24px auto;
	padding: 0 8.54%;
	position: relative;
	z-index: 1000;
	max-width: 932px
}

footer .co-branded-disclaimer {
	font-size: 12px;
	line-height: 18px;
	font-style: italic;
	margin-bottom: 24px
}

footer .co-branded-identifier {
	font-size: 12px;
	line-height: 18px
}

footer .co-branded-identifier ul {
	margin: 0;
	padding: 0;
	display: inline-block;
	list-style: none
}

footer .co-branded-identifier span {
	float: right
}

footer ol {
	margin: 0;
	padding: 0;
	margin-bottom: 24px
}

footer ol li {
	text-align: center
}

footer ol li:first-of-type {
	font-weight: bold
}

.main-content {
	margin: 0 auto;
	max-width: 932px;
	padding: 0 8.54%
}

.main-content-8 {
	margin: 0 auto;
	max-width: 740px;
	padding: 0 8.54%
}

.main-content-10 {
	margin: 0 auto;
	width: 65.83%;
	max-width: 932px;
	padding: 0 96px
}

html {
	margin: 0;
	padding: 0;
	font-size: 62.5%
}

body {
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 21px;
	color: #292929;
	font-family: "Helvetica Neue", Arial, sans-serif
}

body form {
	margin: 0;
	padding: 0;
	color: #292929
}

h1 {
	font-size: 24px;
	font-size: 2.4rem;
	margin: 0;
	padding: 0;
	color: #27251f;
	line-height: 30px;
	margin-bottom: 18px
}

h2 {
	font-size: 21px;
	font-size: 2.1rem;
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #27251f;
	line-height: 28px;
	padding-bottom: 3px;
	border-bottom: 5px solid #e6e7e8;
	margin-bottom: 18px
}

h3 {
	font-size: 18px;
	font-size: 1.8rem;
	margin: 0;
	padding: 0;
	margin-bottom: 12px;
	color: #27251f;
	line-height: 24px
}

h4 {
	font-size: 16px;
	font-size: 1.6rem;
	margin: 0;
	padding: 0;
	margin-bottom: 12px;
	color: #27251f;
	line-height: 24px;
	font-style: italic
}

h5 {
	font-size: 16px;
	font-size: 1.6rem;
	margin: 0;
	padding: 0;
	margin-bottom: 12px;
	color: #27251f;
	line-height: 24px
}

h6 {
	font-size: 14px;
	font-size: 1.4rem;
	margin: 0;
	padding: 0;
	margin-bottom: 12px;
	color: #27251f;
	line-height: 21px
}

h1.bottom-border, h2.bottom-border, h3.bottom-border, h4.bottom-border,
	h5.bottom-border, h6.bottom-border {
	border-bottom: 1px solid #e3e3e0;
	padding-bottom: 12px
}

p {
	margin: 0;
	padding: 0;
	margin-bottom: 18px
}

ol, ul {
	margin: 0;
	padding: 0;
	margin: 0 0 18px 36px
}

ol.exclamation:before, ul.exclamation:before, ol.phone:before, ul.phone:before,
	ol.checkmark:before, ul.checkmark:before, ol.x:before, ul.x:before {
	left: -100px
}

ol li.exclamation:before, ul li.exclamation:before, ol li.phone:before,
	ul li.phone:before, ol li.checkmark:before, ul li.checkmark:before, ol li.x:before,
	ul li.x:before {
	left: -100px
}

a {
	color: #3773ce;
	text-decoration: none
}

a:hover {
	text-decoration: underline
}

a:visited {
	color: #875dc6
}

.spe-km-image {
	margin: 24px auto
}

.spe-km-image.img-3col {
	width: 23.12%
}

.spe-km-image.img-4col {
	width: 31.66%
}

.spe-km-image.img-6col {
	width: 48.75%
}

.spe-km-image.img-8col {
	width: 65.83%
}

.spe-km-image.img-9col {
	width: 74.37%
}

.spe-km-image.float-right {
	float: right
}

.spe-km-image.float-left {
	float: left
}

.spe-km-image .img-caption {
	padding: 12px 0;
	font-size: 12px;
	line-height: 18px;
	color: #818385
}

.spe-km-image .img-caption h3 {
	font-size: 12px;
	line-height: 21px;
	font-weight: bold;
	color: #27251f;
	margin: 0
}

.spe-km-image p {
	font-size: 12px;
	line-height: 18px;
	color: #818385;
	padding: 0;
	margin: 0
}

.spe-km-table {
	margin: 0 0 24px
}

.spe-km-table table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 14px;
	line-height: 18px;
	display: block;
	max-width: 100%;
	overflow-x: auto
}

.spe-km-table table p {
	margin-top: 0;
	font-size: 14px;
	line-height: 18px
}

.spe-km-table table ul, .spe-km-table table ol, .spe-km-table table dl {
	margin: 0 0 18px 0
}

.spe-km-table table li {
	font-size: 14px;
	line-height: 18px
}

.spe-km-table table thead th {
	border-top: 1px solid #7e7f74;
	border-left: 1px solid #7e7f74;
	padding-top: 18px;
	padding-right: 12px;
	padding-bottom: 18px;
	padding-left: 12px;
	text-align: left;
	vertical-align: top;
	font-weight: bold
}

.spe-km-table table thead th:last-child {
	border-right: 1px solid #7e7f74
}

.spe-km-table table thead th span.deemphasize {
	font-weight: normal
}

.spe-km-table table thead th ul li, .spe-km-table table thead th ol li {
	margin-left: 18px
}

.spe-km-table table tbody {
	border-top: 1px solid #7e7f74
}

.spe-km-table table tbody th {
	font-weight: bold;
	text-align: left;
	border-bottom: 1px solid #7e7f74;
	border-left: 1px solid #7e7f74;
	padding: 12px;
	vertical-align: top
}

.spe-km-table table tbody th ul li, .spe-km-table table tbody th ol li {
	margin-left: 18px
}

.spe-km-table table tbody td {
	border-bottom: 1px solid #7e7f74;
	border-left: 1px solid #7e7f74;
	padding: 12px;
	vertical-align: top
}

.spe-km-table table tbody td:last-child {
	border-right: 1px solid #7e7f74
}

.spe-km-table table tbody td ul li, .spe-km-table table tbody td ol li {
	margin-left: 18px
}

.spe-km-table .table-caption, .spe-km-table .citations {
	margin-top: 18px;
	margin-bottom: 18px;
	color: #1e1e1e;
	font-size: 12px;
	line-height: 18px
}

.spe-km-table .table-caption p, .spe-km-table .citations p {
	margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 18px;
	width: 100%
}

.spe-km-table.shaded-header thead th {
	background-color: #f1f1ef
}

.spe-km-table.zebra-row tbody tr:nth-child(2n+1) {
	background: #f1f1ef
}

.spe-km-table.zebra-column tbody tr td:nth-child(2n+1) {
	background: #f1f1ef
}

.spe-km-table.zebra-column thead th:nth-child(2n+1) {
	background: #f1f1ef
}

.spe-km-table.scale td {
	border: none
}

.spe-km-table.scale td:last-child {
	border-right: none;
	text-align: right
}

.spe-km-table.no-borders tbody {
	border: none
}

.spe-km-table.no-borders td, .spe-km-table.no-borders th {
	border: none
}

.spe-km-table.no-borders td:last-child, .spe-km-table.no-borders th:last-child
	{
	border-right: none
}

.spe-km-table.customized table {
	display: table
}

.spe-km-table.full table {
	width: 100%
}

.spe-km-table.three-quarter table {
	width: 75%
}

.spe-km-table.half table {
	width: 50%
}

ul.fill-in-text {
	margin: 0;
	padding: 0;
	width: 100%;
	margin-bottom: 12px
}

ul.fill-in-text li {
	margin: 0;
	padding: 0;
	display: table;
	width: 100%;
	height: 24px;
	border-bottom: 1px solid #000
}

.opePreview {
	margin-top: 120px
}

.opePreviewHeader {
	background-color: #27251f;
	height: 80px;
	position: fixed;
	top: 0;
	z-index: 2000;
	width: 100%
}

.opePreviewHeader>div {
	padding: 12px 36px;
	max-width: 1260px;
	margin: 0 auto;
	position: relative
}

.opePreviewHeader>div h2 {
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #fff;
	padding: 12px 0;
	border-bottom: none;
	display: inline-block
}

.opePreviewHeader>div a.ope-toggle {
	display: inline-block;
	padding: 12px 36px 12px 12px;
	color: #fff;
	position: relative;
	border: 1px solid rgba(255, 255, 255, .5);
	float: right;
	width: 200px
}

.opePreviewHeader>div a.ope-toggle:after {
	content: '';
	position: absolute;
	width: 18px;
	height: 22px;
	right: 12px;
	top: 14px;
	background: url("/styles/img/shared/kcms-intranet-icons-v6.svg") -88px
		1px no-repeat
}

.opePreviewHeader>div a.ope-toggle:hover {
	text-decoration: none
}

.opePreviewHeader>div a.ope-toggle.open:after {
	background: url("/styles/img/shared/kcms-intranet-icons-v6.svg") -112px
		1px no-repeat
}

.opePreviewHeader>div ol {
	margin: 0;
	padding: 0;
	width: 248px;
	border: 1px solid #c3c5c5;
	list-style-type: none;
	box-shadow: 3px 3px 2px rgba(0, 0, 0, .15);
	background-color: #fff;
	position: absolute;
	right: 36px;
	top: 58px;
	display: none
}

.opePreviewHeader>div ol li {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 12px;
	color: #6d6d6d;
	padding: 12px
}

.opePreviewHeader>div ol li:nth-child(5) {
	border-top: 1px solid #c3c5c5
}

.opePreviewHeader>div ol li a {
	font-weight: normal;
	font-size: 14px;
	color: #27251f;
	display: block;
	position: relative
}

.opePreviewHeader>div ol li a:hover {
	text-decoration: none
}

.opePreviewHeader>div ol li a:hover:after {
	content: '';
	position: absolute;
	width: 12px;
	height: 10px;
	right: 0;
	top: 5px;
	opacity: .3;
	background: url(/styles/img/shared/checkmark-icon-black.svg)
}

.opePreviewHeader>div ol li a.selected:after {
	content: '';
	position: absolute;
	width: 12px;
	height: 10px;
	right: 0;
	top: 5px;
	background: url(/styles/img/shared/checkmark-icon-black.svg)
}

.opePreviewHeader>div ol li a.selected:hover:after {
	opacity: 1
}

.grid-margin {
	margin-right: 2.5%
}

.span-1 {
	width: 6.041%
}

.span-2 {
	width: 14.58%
}

.span-3 {
	width: 23.12%
}

.span-4 {
	width: 31.66%
}

.span-5 {
	width: 40.2%
}

.span-6 {
	width: 48.75%
}

.span-7 {
	width: 57.29%
}

.span-8 {
	width: 65.83%
}

.span-9 {
	width: 74.37%
}

.span-10 {
	width: 82.91%
}

.span-11 {
	width: 91.45%
}

.span-12 {
	width: 100%
}

.indent-0 {
	margin-left: 0 !important
}

.indent-1 {
	margin-left: 8.541% !important
}

.indent-2 {
	margin-left: 17.08% !important
}

.indent-3 {
	margin-left: 25.62% !important
}

.indent-4 {
	margin-left: 34.16% !important
}

.col, .stack-col {
	display: block;
	float: left;
	margin: 0 2.5% 0 0
}

.col.no-margin, .stack-col.no-margin {
	margin-right: 0
}

.col.right, .stack-col.right {
	float: right
}

.col.right.indent-1, .stack-col.right.indent-1, .col.right.indent-2,
	.stack-col.right.indent-2, .col.right.indent-3, .stack-col.right.indent-3,
	.col.right.indent-4, .stack-col.right.indent-4 {
	margin-right: 0
}

.row, .stack-row {
	margin-bottom: 24px;
	width: 100%
}

.row>.row, .stack-row>.row, .row>.stack-row, .stack-row>.stack-row {
	margin-bottom: 0
}

.row:after, .stack-row:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both
}

.row .col:last-child, .stack-row .col:last-child, .row .r-col:last-child,
	.stack-row .r-col:last-child {
	margin-right: 0
}

.row>div p:last-child, .stack-row>div p:last-child {
	margin-bottom: 0
}

.center {
	margin: 0 auto !important;
	float: none
}

.zero {
	margin: 0;
	padding: 0
}

.borderbox {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.notext {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden
}

.bottmargin {
	margin: 0;
	padding: 0;
	margin-bottom: 18px
}

.clearfix {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both
}

.browserinfo {
	display: block;
	padding: 24px;
	border: 1px solid #ccc
}

.shadow {
	-webkit-box-shadow: 0 6px 11px 0 rgba(0, 0, 0, .13);
	-moz-box-shadow: 0 6px 11px 0 rgba(0, 0, 0, .13);
	box-shadow: 0 6px 11px 0 rgba(0, 0, 0, .13)
}

.rounded {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}

.section-content {
	clear: both
}

.section-content .col:last-child {
	margin-right: 0
}

.callout-box {
	border: 1px solid #000;
	border-radius: 18px;
	padding: 24px;
	margin-bottom: 24px
}

.callout-box.shaded {
	background-color: #e6e6e6
}

ul.dashes {
	list-style-type: none
}

ul.dashes li:before {
	content: "ï¿½C";
	padding-right: 8px
}

ul.checkmark-list, ol.checkmark-list {
	list-style-type: none
}

ul.checkmark-list li:before, ol.checkmark-list li:before {
	content: '?';
	padding-right: 8px
}

ul.checklist-list, ol.checklist-list {
	list-style-type: none
}

ul.checklist-list li:before, ol.checklist-list li:before {
	content: "?";
	padding-right: 8px
}

ul.empty, ol.empty {
	list-style-type: none
}

ul.empty li:before, ol.empty li:before {
	text-decoration: none
}

.centered {
	text-align: center
}

.exclamation {
	position: relative
}

.exclamation:before {
	content: '';
	position: absolute;
	width: 56px;
	height: 56px;
	left: -64px;
	top: 0;
	background: url("/styles/img/epic/exclamation-icon.svg") no-repeat
}

.exclamation.inline {
	padding-left: 64px
}

.exclamation.inline:before {
	left: 0
}

.phone {
	position: relative
}

.phone:before {
	content: '';
	position: absolute;
	width: 56px;
	height: 56px;
	left: -64px;
	top: 0;
	background: url("/styles/img/epic/phone-icon.svg") no-repeat
}

.phone.inline {
	padding-left: 64px
}

.phone.inline:before {
	left: 0
}

.checkmark {
	position: relative
}

.checkmark:before {
	content: '';
	position: absolute;
	width: 56px;
	height: 56px;
	left: -64px;
	top: 0;
	background: url("/styles/img/epic/check-icon.svg") no-repeat
}

.checkmark.inline {
	padding-left: 64px
}

.checkmark.inline:before {
	left: 0
}

.x {
	position: relative
}

.x:before {
	content: '';
	position: absolute;
	width: 56px;
	height: 56px;
	left: -64px;
	top: 0;
	background: url("/styles/img/epic/x-icon.svg") no-repeat
}

.x.inline {
	padding-left: 64px
}

.x.inline:before {
	left: 0
}

.checkmark-example {
	position: relative
}

.checkmark-example.inline {
	padding-left: 64px
}

.checkmark-example.inline:before {
	left: 0
}

img.epic-background {
	position: absolute;
	width: 56px;
	height: 56px;
	left: -64px;
	top: 0
}